.giftcards {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.itemcard {
  width: 22%;
  margin: auto;
}
.itemcard img {
  width: 100%;
}
.giftbanner {
  width: 90%;
  margin: auto;
}
.giftbanner img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}
.bt {
  display: flex;
  gap: 20px;

  justify-content: center;
  height: 100px;
  align-items: center;
}
.cbt {
  width: 80px;
  height: 33px;
  border-radius: 20px;
}
